/* Centered container with max-width */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.container {
  max-width: 100%; /* Maximum width is 90% */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 16px; /* Padding for inner spacing */
  box-sizing: border-box; /* Include padding in width */
}

input,
select,
textarea {
  -webkit-appearance: none; /* Safari reset */
  -moz-appearance: none; /* Firefox reset */
  appearance: none;
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: transparent;
  outline: none;
  padding: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus {
  border-bottom: 2px solid #6200ea;
}

.search-input {
  all: unset; /* Reset input to default styles */
  width: 100%; /* Reapply necessary styles */
  box-sizing: border-box;
  padding: 12px 20px 12px 50px; /* Adjust padding for icon */
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 16px;
}
