/* src/components/Calendar.css */
.calendar-container {
  width: 100%;
  margin: 20px auto;
  /* padding: 20px; */

  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.fc-toolbar {
  background-color: #d1cece;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.fc-header-toolbar {
  display: flex;
  justify-content: space-between;
}

.fc-daygrid-month-button {
  background-color: #fff;
  color: #4caf50;
}

.fc-daygrid-event {
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.fc-daygrid-event:hover {
  background-color: #45a049;
}

.fc-daygrid-day-number {
  font-size: 1rem;
  font-weight: 600;
}

.fc-daygrid-day {
  border-radius: 10px;
}

.fc-daygrid-day.fc-day-today {
  background-color: #d3f9d8;
}

.fc-daygrid-day:hover {
  background-color: #f1f1f1;
}

.event-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
}

.event-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-modal p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.event-content {
  font-size: 12px;
  color: #333;
}

.fc-daygrid-day-number.fc-other-month {
  color: #999;
}

.fc-button {
  background-color: #4caf50;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
}

.fc-button:hover {
  background-color: #45a049;
}
