.intensity-container,
intensity-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.tab-button {
  flex: 1;
  padding: 12px 0;
  text-align: center;
  font-weight: 600;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
}

.tab-button.active {
  color: #6200ea;
  border-bottom: 2px solid #6200ea;
}

/* Input Labels */
.input-label {
  margin-bottom: 5px;
}

/* Two-column Layout */
.input-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.input-group label {
  flex: 1;
}

/* Input Styling */
.input-field,
.input-select {
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 1rem;
  background-color: transparent;
  width: 100%; /* Full width within parent */
  max-width: 100%; /* Prevent it from overflowing */
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.input-field:focus,
.input-select:focus {
  outline: none;
  border-bottom: 2px solid #6200ea;
}

/* Button Styling */
button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
}

.remove-btn {
  color: black; /* White icon */
  font-size: 1.5rem; /* Increase icon size */
  line-height: 0; /* Prevent extra space */
  display: flex; /* Center the icon */
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 36px; /* Adjust size */
  height: 36px; /* Adjust size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Checkbox Styling */
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.checkbox-label input {
  width: 16px;
  height: 16px;
}

/* Add Button */
.add-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #4caf50;
  border-radius: 25px;
}

.add-btn:hover {
  background-color: #388e3c;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
    gap: 10px;
  }
}
